@media screen and (max-width:767px){
	.single-service-item {max-width: 350px;margin: 30px auto;}
	.single-featured-cars {max-width: 350px;margin: auto;}
	.footer-social {text-align: left;}
	.footer-social a i {margin-right: 16px;margin-left: 0;}
	.hm-foot-email {max-width: 300px;}
}/*max-width:767px*/

.featured-img-box {
    border: 1px solid #dadfe9;
	max-width: 200px;
}
.featured-cars-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    height: 160px;
    border-bottom: 1px solid #dadfe9;
}
.featured-cars-img img{
	width:100%;
	height:auto;
}
.featured-model-info{padding:12px 7px;}
.featured-model-info p {
    font-size: 12px;
    color: #8c92a0;
    text-transform: capitalize;
}
